.newfile

  %h4 CSVファイル、またはEXCELファイルでアップロードしてください
  %h4 fileは以下の様なフォーマットを使用してください。
  %div
    = image_tag asset_path("sample.jpg"), class: "newfileimage"

  = form_tag import_groups_path, multipart: true do
    = file_field_tag :file
    = submit_tag "アップロード"
