.instruction.col-12.col-md-9
  %h2.section
    簡易説明
  %p.section
    1. まずは新規学習グループを作成しよう<br/>&emsp;新規学習グループ作成をclick
  %p.section
    2. 学習グループで共有するカードを追加しよう<br/>&emsp;サイドバーに表示される学習グループで、カードを追加をclick
  %p.section
    3. 暗記カードを投稿できます<br/>&emsp;問題と回答をそれぞれ入力して登録
  %P.section
    4. サイドバーのグループ名をclickすることで、ブラウザにカードがランダムで表示されるようになります。
  %p.section
    5. カードをクリックするとフリップします。<br/>&emsp;黄色のボタン（次へ）を押すとグループで共有している他の暗記カードがランダムに表示されます
  %p.section
    未実装の機能１：ransack使って、サーチ（右上の検索ボタンから他のグループが作った暗記カードを検索）<br/>
    未実装の機能２：ボタンによるボーダーカラーの変更、ボーダーの色をuser_idと合わせてテーブルで管理し、問題の理解度を個人が視覚的に把握する<br/>
    未実装の機能３：２のテーブルデータによって、問題の出題率をランダムから若干の割合変更する<br/><br/>
    その他：教員向けとしてボーダーカラーの変更の履歴で進度が把握できるような機能、出題内容をよりカテゴリ分けできるようにして、学習者の重点学習項目を洗い出せるような機能。
    実際に使用に耐えるアプリとしては、保存した内容の編集、削除機能、グループの削除機能の他、パネルに表示される文字のレイアウトが見やすくなるように機能を実装する必要がある。