.js-form {
  width: 100vh;
  background-color: #eeeeee;

  .inputField {
    margin-top: 10px;
    line-height: 7vh;
    display: block;

    &__label {


    }
    .panelLabel {
      font-family: Meiryo;
      font-weight: bold;
    }
    &__input {

    }
    .panelInput {
      width: 100%;
    }
  }
}