.sidebar.col-12.col-md-3
  -# .folder_links
  -#   - current_user.folders.each do |folder|
  -#     .card_folder
  -#       = link_to folder_cards_path(folder) do
  -#         .folder_name
  -#           = folder.name
  .folder_links
    .card_folder
      .folder_name
        フォルダー名称
  .folder_links
    .card_folder
      .folder_name
        フォルダー名称
  .folder_links
    .card_folder
      .folder_name
        フォルダー名称